<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <navbar></navbar>
    <div class='container pt-100 justify-content-start'>
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">kategori 1</a>
                    <a href="" class="list-group-item list-group-item-action">kategori 2</a>  
                    <a href="" class="list-group-item list-group-item-action">kategori 3</a> 
                    <a href="" class="list-group-item list-group-item-action">kategori 4</a> 
                    <a href="" class="list-group-item list-group-item-action">kategori 5</a> 
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <ng-container>
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <img src="/assets/banka.jpg" alt="">
                                <div class="card-body">
                                    <h4 class="cart-title">
                                        <a href="">
                                            Hasan
                                        </a>
                                    </h4>
                                    <small class="text-muted">
                                        150 ₺
                                    </small>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-outline-primary btn-sm">İncele</button>
                                    <button class="btn btn-outline-primary btn-sm ml-3">Sepete Ekle</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
