<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
     <p class="loginparagraf">Kayıt Ol</p>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="ad" class="fadeIn second" name="Ad" placeholder="Ad">
      <input type="text" id="soyad" class="fadeIn third" name="soyad" placeholder="Soyad">
      <input type="text" id="adres" class="fadeIn fourth" name="adres" placeholder="Adres">
      <input type="text" id="telefon" class="fadeIn fifth" name="telefon" placeholder="Telefon">
      <input type="text" id="mail" class="fadeIn sixth" name="mail" placeholder="E-mail">
      <input type="text" id="sifre" class="fadeIn seventh" name="sifre" placeholder="Şifre">
      <input type="submit" class="fadeIn eighth" value="Kayıt Ol">
    </form>

  </div>
</div>